/* Estilos generales */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  font-family: Poppins, sans-serif;
}


.welcome {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}
/* Estilos para el botón de agregar libro */
.add-book-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-book-button:hover {
  background-color: #0056b3;
}

/* Estilo para la sección principal */
.main {
  margin: 2rem;
}

/* Estilo para el contenedor de libros */
.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribuir los libros en filas */
}

/* Estilo para cada libro */
.book {
  width: 20%; /* Cada libro ocupa aproximadamente el 30% del ancho */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* Estilo para la imagen del libro */
.book-img {
  max-width: 30%; /* La imagen se ajusta al tamaño del contenedor */
  height: auto;
}

/* Estilos para el footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
