.search-bar {
  position: absolute;
  bottom: 92%;
  right: 20px;
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px 25px;
  border-radius: 5px;
  border: 1px solid #666;
}

.search-bar i {
  position: absolute;
  right: 10px;
  top: 7px;
  pointer-events: none;
}
